/* $primary: rgba(255, 201, 0, 1);
$secondary: rgba(214, 214, 214, 1); */
$primary-color: #3A415A;
$secondary-color: #89A7B1;
$hover-color: #CBDAD5;
$exit-color: #F7F1E5;
$border-std: #000 2px solid;;
